<div class="main-left">
  <div class="main-left-inner">
    <% if (req.session.user.tenant) { %>
      <%- partial('../tenant/profile.ejs') %>
    <% } else if (req.session.user.landlord) { %>
      <%- partial('../landlord/profile.ejs') %>
    <% } %>
  </div>
</div>
<div class="main-right">
  <div class="main-right-inner gallery-listing clearfix">
    <div class="grid grid-listing">
      <div class="unit-property unit6-md">
        <img class="property-image" src="https://cldup.com/DFq54qi9BA.png" alt="" />
        <div class="grid grid-property-thumb">
          <div class="unit-property-thumb"><img class="property-thumb" src="https://cldup.com/7D3HEG0QA3.jpg" alt="" width="96" /></div>
          <div class="unit-property-thumb"><img class="property-thumb" src="https://cldup.com/CEvgtxsHik.jpg" alt="" width="96" /></div>
          <div class="unit-property-thumb"><img class="property-thumb" src="https://cldup.com/xb-y9IKbtg.png" alt="" width="96" /></div>
          <div class="unit-property-thumb"><img class="property-thumb" src="https://cldup.com/NVg0YLdDym.jpg" alt="" width="96" /></div>
          <div class="unit-property-thumb"><img class="property-thumb" src="https://cldup.com/5-yvnC1PaY.jpg" alt="" width="96" /></div>
        </div>
        <div class="unit6-sm">
          <h3 class="show-title">Facts</h3>
          <div class="show-detail"><strong>Square Footage:</strong> <%= property.sqFootage %></div>
          <div class="show-detail"><strong>Deposit:</strong> <%= property.deposit %></div>
          <div class="show-detail"><strong>Pets:</strong> <%= property.pets %></div>
          <div class="show-detail"><strong>Pet Deposit:</strong> <%= property.petDeposit %></div>
        </div>
        <div class="unit6-sm">
          <h3 class="show-title">Features</h3>
          <div class="show-detail"><strong>Parking:</strong> <%= property.parking %></div>
          <div class="show-detail"><strong>Bedrooms:</strong> <%= property.bedrooms %></div>
          <div class="show-detail"><strong>Bathrooms:</strong> <%= property.bathrooms %></div>
          <div class="show-detail"><strong>Appliances:</strong> <%= property.appliances %></div>
          <div class="show-detail"><strong>Amenities:</strong> <%= property.amenities %></div>
          <div class="show-detail"><strong>Utilities:</strong> <%= property.utilities %></div>
        </div>
      </div><!-- .unit-propert -->
      <div class="unit-property unit6-md">
        <div class="property-map-container map-container">
          <div id="map" class="property-map"><%= property.streetAddress %> <%= property.city %> <%= property.state %> <%= property.zip %></div>
        </div>
        <div class="property-info clearfix">
          <div class="grid">
              <div class="unit6-sm show-address">
                <%= property.streetAddress %><br />
                <%= property.city %>, <%= property.state %>, <%= property.zip %>
              </div>
              <div class="unit6-sm">
                  <div class="show-price">$<%= property.price %></div>
                  <div class="show-rating">
                    <span class="icon icon-rate icon-rate-on">1</span>
                    <span class="icon icon-rate icon-rate-on">2</span>
                    <span class="icon icon-rate icon-rate-on">3</span>
                    <span class="icon icon-rate icon-rate-off">x</span>
                    <span class="icon icon-rate icon-rate-off">x</span>
                  </div>
              </div>
          </div>
        </div><!-- .property-info -->
        <div class="property-description">
          <%= property.description %>
        </div>
        <% if (req.session.user.type === 'tenant') { %>
          <a class="btn btn-orange" href="/property/<%= req.params.propertyId %>/application/new">Apply Now</a>
        <% } %>
        <% if (req.session.user.type === 'landlord' && property.landlord.id === req.session.user.landlord.id) { %>
          <h3 class="show-title">Applications</h3>
          <ul class="property-applications">
            <% applications.forEach(function(application) { %>
              <li><a href="/property/<%= property.id %>/application/<%= application.id %>"><%= application.tenant.firstName %> <%= application.tenant.lastName %></a></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    </div><!-- .grid-listing -->
  </div>
</div>

<script>
  function initMap() {
    var latlng = new google.maps.LatLng(37.688334, -97.331462);
    var geocoder = new google.maps.Geocoder();
    var mapOptions = {
      center: latlng,
      zoom: 16,
      mapTypeControl: false,
      streetViewControl: false
    }
    var mapPlaceholder = document.getElementById('map');
    var mapData = mapPlaceholder.textContent || mapPlaceholder.innerText;
    var map = new google.maps.Map(mapPlaceholder, mapOptions);

    function codeAddress(address) {
        geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          console.error("Geocode was not successful for the following reason: " + status);
        }
      });
    }

    codeAddress(mapData);
  }
  function loadMap() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
      'key=AIzaSyD48SS-hIpDX1Mtx1CEA0t1M5kx6a2KJw4&' +
      'callback=initMap';
    document.body.appendChild(script);
  }
  window.onload = loadMap;
</script>
