<div class="main-left">
	<div class="main-left-inner">
		<%- partial('profile.ejs') %>
	</div>
</div>
<div class="main-right">
	<div class="main-right-inner gallery-listing clearfix">
		<div class="listing-gallery-head clearfix">
			<h2 class="listing-title">My Properties</h2>
			<form class="form-listing-search">
				<div class="form-group">
					<label class="form-label" for="search">Address</label>
					<input type="text" class="form-control" name="search" id="search"/>
					<button class="btn"><span class="icon btn-go">Search</span></button>
				</div>
			</form>
		</div>
		<div class="grid grid-listing">

      <% properties.forEach(function(property) { %>
        <div class="unit-listing unit4-md">
          <a href="/property/<%= property.id %>" class="item-listing">
            <span class="item-listing-head">
              <span class="listing-alert"><span class="list-alert-icon">!</span></span>
              <img class="item-listing-image" src="http://placehold.it/300x180" alt="" />
            </span>
            <span class="item-listing-body clearfix">
              <span class="listing-address">
                <%= property.streetAddress %>
                <br />
                <%= property.city %>, <%= property.state %>, <%= property.zip %></span>
              <span class="listing-price">$<%= property.price %></span>
            </span>
          </a><!-- .item-listing -->
        </div><!-- .unit-listing -->
      <% }) %>

		</div><!-- .grid-listing -->
    <div class="applications">
      <h2 class="listing-title">My Applications</h2>
      <% applications.forEach(function(application) { %>
        <p><strong><%= application.property.streetAddress %>, <%= application.property.zip %></strong></p>
        <p><%= application.tenant.firstName %> <%= application.tenant.lastName %></p>
      <% }) %>
    </div>
	</div>
</div>
